<!-- navbar links -->
<nav class="flex justify-between px-8 py-4">
    <!-- logo -->
    <div>
        <h2 
            class="text-primary text-3xl cursor-pointer font-bold tracking-wide shadow-xl hover:translate-x-3">
            Hervé

        </h2>
    </div>

    <!-- links -->
    <div class="flex space-x-4">
        <a href="#" class="text-textPrimary hover:text-secondary">Home</a>
        <a href="#" class="text-textPrimary hover:text-secondary">About</a>
        <a href="#" class="text-textPrimary hover:text-secondary">Skills</a>
        <a href="#" class="text-textPrimary hover:text-secondary">Projects</a>
        <a href="#" class="text-textPrimary hover:text-secondary">Contact</a>
    </div>
</nav>
        