<!-- navbar links -->
<nav class="flex justify-between px-8 py-4">
    <!-- logo -->
    <div>
        <h2 
            class="text-primary text-3xl cursor-pointer font-bold tracking-wide shadow-xl hover:translate-x-3">
            Hervé

        </h2>
    </div>

    <!-- links -->
    <div class="flex space-x-4">
        <a href="#" class="text-textPrimary hover:text-secondary">Home</a>
        <a href="#" class="text-textPrimary hover:text-secondary">About</a>
        <a href="#" class="text-textPrimary hover:text-secondary">Skills</a>
        <a href="#" class="text-textPrimary hover:text-secondary">Projects</a>
        <a href="#" class="text-textPrimary hover:text-secondary">Contact</a>
    </div>
</nav>

<!-- home section -->
<section>
    <div class="flex flex-col bg-[url('/assets/images/computer.jpg')] h-[300px] w-full bg-no-repeat bg-cover bg-center">
        <!-- text -->
        <div class="flex flex-col text-center space-y-4 py-8">
            <h2 
                class="text-white text-center mx-auto text-2xl font-bold w-[500px]">
                Hello <span class="text-secondary"><i class="fas fa-hand"></i></span> <br>
                I am Hervé Mashukane. <br> Glad to see <span class="text-primary"><i class="bi bi-eye-fill"></i></span> you!
            </h2>
            <p 
                class="text-white text-[16px] w-[400px] mx-auto">
                I'm a Front-End Developer<span class="text-primary"><i class="bi bi-laptop-fill"></i></span>,
                I create engaging, user-friendly web applications with modern technologies like Angular, TypeScript, and more.
            </p>
            <button 
                class="text-white bg-primary px-2 py-2 shadow-lg w-32 mx-auto rounded-xl hover:bg-blue-800">
                View Projects
            </button>
        </div>
    </div>
</section>

<!-- about section -->
<section 
class="py-8 text-center bg-gray-200 shadow-2xl">
    <div class="py-4 text-2xl text-primary font-bold">
        <h2>About me</h2>
    </div>
    <div>
        <p class="md:w-[750px] mx-auto text-textPrimary sm:w-[300px] px-4">I am a Web Developer | Front-End Enthusiast | Proficient in JavaScript,
             Typescript, Angular, HTML, CSS, and Tailwind CSS | Building User-Centered Applications | Fast Learner
              and committed to Adapting and Growing in Tech.</p>
    </div>
</section>