<!-- About -->
<section #about class="h-screen scroll-snap-start bg-gray-900 flex items-center justify-center px-4 text-center">
  <div class="flex flex-col items-center justify-center space-y-6 max-w-3xl">
    <h2 class="text-3xl font-bold text-accent">About Me</h2>
    <p class="text-base md:text-lg text-textPrimary leading-relaxed">
      I am a <span class="font-semibold text-secondary">Front-End Web Developer</span> passionate about creating user-centered apps with 
      <span class="text-secondary">JavaScript</span>, <span class="text-secondary">TypeScript</span>, <span class="text-secondary">Angular</span>, 
      <span class="text-secondary">React</span>, <span class="text-secondary">Tailwind CSS</span> and <span class="text-secondary">Supabase</span>.
      <br>
      Fast learner, adaptable, and dedicated to professional growth.
    </p>
    <p class="text-base md:text-lg text-textPrimary leading-relaxed">
      Dreamer. Doer. Developper...
    </p>
  </div>
</section>